<app-header></app-header>

<cx-spinner [fullscreen]=true [name]="'global'"></cx-spinner>

<!-- <cx-busca-menu></cx-busca-menu> -->

<main>
  <app-side-menu></app-side-menu>

  <section id="conteudoPrincipal" [ngClass]="{'sidemenu-hidden': !isMenuAberto}">
    <div id="mobileBackdrop"
      (click)="menuService.fechar()"
      [ngClass]="{'sidemenu-shown': isMenuAberto}">
    </div>

    <div id="painelConteudoPrincipal">
      <app-breadcrumb></app-breadcrumb>
      <div [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </div>
  </section>
</main>

<cx-modal></cx-modal>
