<h1 class="titulo">
	Tabber
</h1>

<div class="my-4">
	<h5>
		<p>O componente alternativo Tabber <span class="citation-highlight">cx-tabber</span> difere do Stepper
			ao não implementar qualquer relação de sequência entre as etapas, apenas organizando o conteúdo
			em abas.
		</p>
	</h5>
	<h6 class="font-fam-bold">HTML:</h6>
	<pre><code [highlight]="codeDescricao" [languages]="['html']"></code></pre> 
	<h6 class="font-fam-bold">TS:</h6>
	<pre><code [highlight]="codeTsDescricao"  [languages]="['ts']"></code></pre> 
</div>


<ul class="nav nav-pills tab-caixa" role="tablist">
	<li class="nav-item">
		<a class="nav-link text-uppercase active" data-toggle="tab" href="#visaoGeral" role="tab">
			Visão Geral
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-uppercase" data-toggle="tab" href="#api" role="tab">
			API
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-uppercase" data-toggle="tab" href="#exemplos" role="tab">
			Exemplos
		</a>
	</li>
</ul>

<br>

<div class="tab-content">
	<div class="tab-pane fade show active" id="visaoGeral" role="tabpanel">
		<div class="row no-gutters">
			<section #scrollElement class="col-12 col-xl-9 pr-2">
				<app-documentacao-template id="painelTabber" [cardTitle]="'Tabber'" [codeViewId]="'viewTabber'"
					[htmlTabId]="'htmlCodeTabber'" [htmlCode]="htmlCodeTabber" [tsTabId]="'tsCodeTabber'"
					[tsCode]="tsCodeTabber">
					<div class="descricao">
						<p>O atributo <span class="citation-highlight">tabs</span> recebe uma lista de objetos do tipo <span
								class="citation-highlight">TabberItem</span>,
							com as propriedades "name" e "icon".
						</p>

						<p>Todas as funcionalidades de navegação do Stepper estão presentes também neste componente.
						</p>
					</div>

					<div class="conteudo">
						<cx-tabber [tabs]="abas" #tabberVisaoGeral>
							<ng-container *ngFor="let aba of abas">
								<div *cxStepper>
									<h2 class="text-center">{{ aba.name }}</h2>
								</div>
							</ng-container>
						</cx-tabber>

						<button [disabled]="tabberVisaoGeral.currentTab == 0" (click)="tabberVisaoGeral.first()"
							class="btn btn-aux mx-2">
							Primeiro
						</button>

						<button [disabled]="tabberVisaoGeral.currentTab == 0" (click)="tabberVisaoGeral.previous()"
							class="btn btn-cancel mx-2">
							Voltar
						</button>

						<button [disabled]="tabberVisaoGeral.currentTab == abas.length - 1" (click)="tabberVisaoGeral.next()"
							class="btn btn-accent mx-2">
							Avançar
						</button>

						<button [disabled]="tabberVisaoGeral.currentTab == abas.length - 1" (click)="tabberVisaoGeral.last()"
							class="btn btn-aux mx-2">
							Último
						</button>
					</div>
				</app-documentacao-template>

				<br>

				<app-documentacao-template id="painelTabberState" [cardTitle]="'Estado'" [codeViewId]="'viewTabberState'"
					[htmlTabId]="'htmlCodeTabberState'" [htmlCode]="htmlCodeTabberState" [tsTabId]="'tsCodeTabberState'"
					[tsCode]="tsCodeTabberState">
					<div class="descricao">
						<p>O atributo opcional <span class="citation-highlight">state</span> pode receber um dos valores da enum
							<span class="citation-highlight">TabberItemState</span>('success', 'warning' ou 'error'), acrescentando um pequeno ícone que representa
							sua situação atual.
						</p>
					</div>

					<div class="conteudo">
						<cx-tabber [tabs]="abasComEstado" #tabberExemploState>
							<ng-container *ngFor="let aba of abasComEstado">
								<div *cxStepper class="text-center">
									<h2>{{ aba.name }}</h2>
									<h4 *ngIf="!aba.state">Conteúdo sem validação</h4>
									<h4 *ngIf="aba.state === tabberState.SUCCESS">Conteúdo OK</h4>
									<h4 *ngIf="aba.state === tabberState.WARNING">Conteúdo com erro não impeditivo</h4>
									<h4 *ngIf="aba.state === 'error'">Conteúdo com erro impeditivo</h4>
								</div>
							</ng-container>
						</cx-tabber>

						<button [disabled]="tabberExemploState.currentTab == 0" (click)="tabberExemploState.first()"
							class="btn btn-aux mt-3 mx-2">
							Primeiro
						</button>

						<button [disabled]="tabberExemploState.currentTab == 0" (click)="tabberExemploState.previous()"
							class="btn btn-cancel mx-2">
							Voltar
						</button>

						<button [disabled]="tabberExemploState.currentTab == abas.length - 1" (click)="tabberExemploState.next()"
							class="btn btn-accent mx-2">
							Avançar
						</button>

						<button [disabled]="tabberExemploState.currentTab == abas.length - 1" (click)="tabberExemploState.last()"
							class="btn btn-aux mx-2">
							Último
						</button>
					</div>
				</app-documentacao-template>
			</section>

			<nav id="navSection" class="d-none col-3 d-xl-flex pl-4">
				<app-code-fixed-nav [items]="navItems"
					[currentSection]="currentSection"></app-code-fixed-nav>
			</nav>
		</div>
	</div>

	<div class="tab-pane fade" id="api" role="tabpanel">
		<div class="card">
			<div class="card-body">
				<h5 class="header-subtitulo-caixa">*cxStepper</h5>
				<p>
					Diretiva que permite a inclusão de conteúdo dinâmico dentro do componente Stepper.
					O asterisco é necessário por se tratar de uma
					<a class="text-link" href="https://angular.io/guide/structural-directives" target="blank">diretiva
						estrutural</a>.
				</p>
				<p>Usar como: <span class="citation-highlight">*cxStepper</span> no elemento a ser exibido</p>
		
				<br>
		
				<div class="my-4">
					<h5 class="header-subtitulo-caixa">Cx-Tabber</h5>
					<p>
						Componente de exibição de abas que pode ou não englobar o conteúdo que será exibido em cada aba.
					</p>
					<p>Usar como: <span class="citation-highlight">cx-tabber</span></p>
		
					<h6 class="header-subtitulo-caixa">Propriedades</h6>
					<div class="table-responsive">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Nome</th>
									<th>Descrição</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>readonly MINIMUM_TABS</td>
									<td>
										Quantidade mínima de abas.<br>
										Valor: 2
									</td>
								</tr>
								<tr>
									<td>readonly MAXIMUM_TABS</td>
									<td>
										Quantidade máxima de abas.<br>
										Valor: 7
									</td>
								</tr>
								<tr>
									<td>@Input( )<br>tabs: TabberItem[]</td>
									<td>
										Atributo obrigatório com a lista de abas,
										contendo sua descrição e ícone.<br>
										Padrão: []
									</td>
								</tr>
								<tr>
									<td>@Input( )<br>currentTab: string | number</td>
									<td>
										Índice da aba atual.<br>
										Padrão: 0
									</td>
								</tr>
								<tr>
									<td>@Input( )<br>orientation: enum StepperOrientation</td>
									<td>
										Orientação do componente, que pode ser horizontal (StepperOrientation.horizontal | "0")
										ou vertical (StepperOrientation.vertical | "1").<br>
										Padrão: StepperOrientation.horizontal | "0"
									</td>
								</tr>
								<tr>
									<td>@Input( )<br>styles: [class: string]: any | string</td>
									<td>
										Objeto de estilo a ser passado para o card-button-wrapper.<br>
										<pre><code [highlight]="stylesExample"></code></pre>
									</td>
								</tr>
								<tr>
									<td>@Output( )<br>changeTab: EventEmitter&#60;number></td>
									<td>
										Evento disparado sempre que um ícone válido é clicado, transmitindo o
										índice deste ícone.
									</td>
								</tr>
								<tr>
									<td>next( ): void</td>
									<td>
										Avança para a próxima aba.
									</td>
								</tr>
								<tr>
									<td>previous( ): void</td>
									<td>
										Retorna para a aba anterior.
									</td>
								</tr>
								<tr>
									<td>first( ): void</td>
									<td>
										Retorna para a primeira aba.
									</td>
								</tr>
								<tr>
									<td>last( ): void</td>
									<td>
										Avança para a última aba.
									</td>
								</tr>
								<tr>
									<td>update( ): void</td>
									<td>
										Atualiza manualmente o template do componente cx-tabber.
									</td>
								</tr>
							</tbody>
						</table>
					</div> <!-- Table-responsive -->
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane fade" id="exemplos" role="tabpanel">
		<section id="tabberSandbox" class="mb-5">

			<cx-tabber [tabs]="tabs" [orientation]="tabberOrientation" #tabberExemplo>
				<ng-container *ngFor="let tab of tabs; let i = index; let last = last; let first = first">
					<ng-container *cxStepper>
						<h1 class="text-center my-4">{{ tab.name }}!</h1>
					</ng-container>
				</ng-container>
			</cx-tabber>

			<div class="card">
				<div class="card-body">
					<div class="d-flex justify-content-center">
						<button title="Primeiro" class="btn btn-aux mr-2" [disabled]="tabberExemplo.currentTab == 0"
							(click)="tabberExemplo.first()">
							<i class="fa fa-angle-double-left fa-lg"></i>
						</button>

						<button [disabled]="tabberExemplo.currentTab <= 0" (click)="tabberExemplo.previous()"
							class="btn btn-cancel mr-2">
							<i class="fa fa-angle-left fa-lg"></i>
						</button>

						<button [disabled]="tabberExemplo.currentTab == (tabs.length - 1)" (click)="tabberExemplo.next()"
							class="btn btn-accent">
							<i class="fa fa-angle-right fa-lg"></i>
						</button>

						<button title="Último" class="btn btn-aux ml-2"
							[disabled]="tabberExemplo.currentTab == (tabs.length - 1)" (click)="tabberExemplo.last()">
							<i class="fa fa-angle-double-right fa-lg"></i>
						</button>
					</div>

					<div class="row">
						<div class="col d-flex align-items-center">
							<button title="Remover" class="btn btn-danger ml-2" [disabled]="tabs.length == 2"
								(click)="tabs.pop(); tabs = [].concat(tabs)">
								<i class="fa fa-minus fa-lg"></i>
							</button>

							<button title="Adicionar" class="btn btn-success ml-2"
								[disabled]="tabs.length == tabberExemplo.MAXIMUM_TABS"
								(click)="addTab(inputNovaAba.value); inputNovaAba.value = ''">
								<i class="fa fa-plus fa-lg"></i>
							</button>

							<input #inputNovaAba class="form-control d-inline w-50 ml-2" placeholder="Nome da nova aba">
						</div>
						<div class="col-4">
							<cx-select>
								<label>Orientação</label>
								<select selectCaixa (change)="changeTabberOrientation($event.target.value)">
									<option value="0">Horizontal</option>
									<option value="1">Vertical</option>
								</select>
							</cx-select>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>